name: Deploy
on:
  push:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Deploy using ssh
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        port: 22
        script: |
          cd /docker/api.binary-cloud.fr/html/binary-cloud-api
          git pull origin main
          composer install --no-interaction --prefer-dist --optimize-autoloader --no-dev
          docker exec -i php-fpm_api.binary-cloud.fr sh -c "cd binary-cloud-api && php artisan migrate:fresh --seed --force && php artisan optimize:clear"
